{
  "plugins": ["stylelint-order", "stylelint-scss"],
  "extends": ["stylelint-config-recommended-scss"],
  "rules": {
    "order/order": ["custom-properties", "declarations"],
    "order/properties-alphabetical-order": true,
    "selector-pseudo-element-no-unknown": [
      true
    ]
  }
}
