@import "src/styles/settings/variables";

.job {
  $job: &;

  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 40px 25px 20px;
  position: relative;
  transition: transform 0.8s;

  &:hover {
    transform: scale(1.05);

    &:before {
      background-color: var(--c-desaturated-dark-cyan);
      border-radius: 5px 0 0 5px;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }

    #{$job}__title {
      color: var(--c-desaturated-dark-cyan);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__logo {
    max-width: 50px;
    left: 20px;
    position: absolute;
    top: -20px;

    @media only screen and (min-width: $b-medium) {
      margin-right: 15px;
      max-width: 60px;
      position: static;
    }
  }

  &__container {
    &:after {
      background-color: var(--c-dark-grayish-cyan);
      content: '';
      display: block;
      height: 1px;
      margin-top: 15px;
      width: 100%;

      @media only screen and (min-width: $b-medium) {
        display: none;
      }
    }
  }

  &__header {
    align-items: center;
    display: flex;
  }

  &__subtitle {
    color: var(--c-desaturated-dark-cyan);
    font-size: 12px;
    font-weight: 700;
    margin-right: 10px;
  }

  &__labels {
    align-items: center;
    display: flex;
  }

  &__title {
    color: var(--c-very-dark-grayish-cyan);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
    transition: color 0.8s;
  }

  &__description {
    color: var(--c-dark-grayish-cyan);
    font-size: 13px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;

    @media only screen and (min-width: $b-medium) {
      justify-content: flex-end;
      margin-left: auto;
    }
  }

  &__tag {
    margin: 15px 15px 0 0;

    &:last-child {
      margin-right: 0;
    }

    @media only screen and (min-width: $b-medium) {
      margin: 6px;
    }
  }

  @media only screen and (min-width: $b-medium) {
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 20px 25px;
  }
}
