@import 'src/styles/settings/variables';

.job-listings {
  &__container {
    left: 50%;
    padding-bottom: 30px;
    position: absolute;
    transform: translate(-50%, 2%);
    width: 85%;

    @media only screen and (min-width: $b-medium) {
      margin-top: 0;
      transform: translate(-50%, 3%);
    }
  }

  &--has-filters {
    transform: translate(-50%, -1.5%);

    @media only screen and (min-width: $b-medium) {
      margin-top: 0;
      transform: translate(-50%, -2.5%);
    }
  }
}
